{% extends "matchcore/layout_nav.html" %}
{% load static %}

{% block main %}

<form enctype="multipart/form-data" action="create_project/submit" method="post">
{% csrf_token %}

<div class="container create-project-view">
	<div class="h-100 d-flex flex-column justify-content-center">
		<div class="row px-5">
			<div class="col-4 mr-4 embed-responsive embed-responsive-1by1">
				<img id="projImg" class="project-picture embed-responsive-item" src="{% static 'matchcore/images/create_placeholder.svg' %}">
				<div style="display: none;">{{form.img}}</div>
			</div>
			<div class="col d-flex flex-column justify-content-between">
				<div class="row d-flex flex-column mb-2">
					<span class="register-input-label d-block">Project title</span>
					<div class="col pl-0">{{form.title}}</div>
				</div>
				<div class="row d-flex flex-column mb-2">
					<span class="register-input-label d-block">Five second pitch</span>
					<div class="col pl-0">{{form.small_description}}</div>
				</div>
				<div class="row d-flex flex-column mb-2">
					<span class="register-input-label d-block">Description</span>
					<div class="col pl-0">{{form.big_description}}</div>
				</div>
			</div>
		</div>
		<div class="row project-tags mt-5 px-5">
			<div class="tags-item">
				<button type="button" class="tags-circle btn btn-primary" data-toggle="modal" data-target="#complexityModalCreate"><img src="{% static 'matchcore/images/projects/tag-complexity-white.svg' %}"></button>
				<div class="tags-desc">
					<span class="tags-name">Complexity</span>
					<span id="selectedComplexity">None</span>
				</div>
			</div>
			<div class="tags-item">
				<button type="button" class="tags-circle btn btn-primary" data-toggle="modal" data-target="#themeModalCreate"><img src="{% static 'matchcore/images/projects/tag-theme-white.svg' %}"></button>
				<div class="tags-desc">
					<span class="tags-name">Theme</span>
					<span id="selectedTheme">None</span>
				</div>
			</div>
			<div class="tags-item">
				<button type="button" class="tags-circle btn btn-primary" data-toggle="modal" data-target="#technologyModalCreate"><img src="{% static 'matchcore/images/projects/tag-technology-white.svg' %}"></button>
				<div class="tags-desc">
					<span class="tags-name">Technology</span>
					<span id="selectedTechnology">None</span>
				</div>
			</div>
			<div class="tags-item">
				<button type="button" class="tags-circle btn btn-primary" data-toggle="modal" data-target="#languageModalCreate"><img src="{% static 'matchcore/images/projects/tag-language-white.svg' %}"></button>
				<div class="tags-desc">
					<span class="tags-name">Language</span>
					<span id="selectedLanguage">None</span>
				</div>
			</div>
		</div>
		<div class="row text-center justify-content-center mt-5">
			<div class="col">
				<button type="submit" class="publish-button btn btn-primary mb-2"><img src="{% static 'matchcore/images/publish.svg' %}"></button>
				<span class="publish-button-text d-block">Publish</span>
			</div>
		</div>
	</div>
</div>

<div class="modal fade" id="complexityModalCreate" tabindex="-1" aria-hidden="true">
	<div class="modal-dialog modal-dialog-centered">
		<div class="modal-content">
		  <div class="modal-header">
		      <button type="button" class="close-button-sm btn btn-primary" data-dismiss="modal">
					<img src="{% static 'matchcore/images/close.svg' %}">
				</button>
	      </div>
		  <div class="modal-body text-center">
		  	<!-- Form -->
		  	<h5 class="create-modal-label">Complexity</h5>
		  	<div class="form-group mb-0">
				{% for c in form.fields.complexity.queryset %}
					<a class="complexity-choice tag-choice d-block" data-optnval="{{ c.id }}">{{ c.name }}</a>
				{% endfor %}
				<div style="display: none;">{{form.complexity}}</div>
			</div>
			<!--  -->
		  </div>
		</div>
	</div>
</div>

<div class="modal fade" id="themeModalCreate" tabindex="-1" aria-hidden="true">
	<div class="modal-dialog modal-dialog-centered">
		<div class="modal-content">
		  <div class="modal-header text-center">
		      <button type="button" class="close-button-sm btn btn-primary" data-dismiss="modal">
					<img src="{% static 'matchcore/images/close.svg' %}">
				</button>
	      </div>
		  <div class="modal-body text-center">
		  	<!-- Form -->
		  	<h5 class="create-modal-label">Theme</h5>
		  	<div class="form-group mb-0">
			    {% for c in form.fields.theme.queryset %}
					<a class="theme-choice tag-choice d-block" data-optnval="{{ c.id }}">{{ c.name }}</a>
				{% endfor %}
				<div style="display: none;">{{form.theme}}</div>
			</div>
			<!--  -->
		  </div>
		</div>
	</div>
</div>

<div class="modal fade" id="technologyModalCreate" tabindex="-1" aria-hidden="true">
	<div class="modal-dialog modal-dialog-centered">
		<div class="modal-content">
		  <div class="modal-header">
		      <button type="button" class="close-button-sm btn btn-primary" data-dismiss="modal">
					<img src="{% static 'matchcore/images/close.svg' %}">
				</button>
	      </div>
		  <div class="modal-body text-center">
		  	<!-- Form -->
		  	<h5 class="create-modal-label">Technology</h5>
		  	<div class="form-group mb-0">
			    {% for c in form.fields.technology.queryset %}
					<a class="technology-choice tag-choice d-block" data-optnval="{{ c.id }}">{{ c.name }}</a>
				{% endfor %}
				<div style="display: none;">{{form.technology}}</div>
			</div>
			<!--  -->
		  </div>
		</div>
	</div>
</div>

<div class="modal fade" id="languageModalCreate" tabindex="-1" aria-hidden="true">
	<div class="modal-dialog modal-dialog-centered">
		<div class="modal-content">
		  <div class="modal-header">
		      <button type="button" class="close-button-sm btn btn-primary" data-dismiss="modal">
					<img src="{% static 'matchcore/images/close.svg' %}">
				</button>
	      </div>
		  <div class="modal-body text-center">
		  	<!-- Form -->
		  	<h5 class="create-modal-label">Language</h5>
		  	<div class="form-group mb-0">
			    {% for c in form.fields.language.queryset %}
					<a class="language-choice tag-choice d-block" data-optnval="{{ c.id }}">{{ c.name }}</a>
				{% endfor %}
				<div style="display: none;">{{form.language}}</div>
			</div>
			<!--  -->
		  </div>
		</div>
	</div>
</div>

</form>

{% endblock %}

{% block scripts %}
    {{ block.super }}
    <script src="{% static 'matchcore/js/create.js' %}"></script>
    <script src="https://code.jquery.com/color/jquery.color-2.2.0.js" integrity="sha256-gvMJWDHjgDrVSiN6eBI9h7dRfQmsTTsGU/eTT8vpzNg="crossorigin="anonymous"></script>
{% endblock %}
