{% extends "matchcore/layout_empty.html" %}
{% load static %}

{% block main %}

<div class="container evaluate-view pt-5">
	<div class="row pt-5 mb-5">
		<div class="col-1">
			<button class="close-button btn btn-primary" onClick="javascript:history.go(-1);">
				<img src="{% static 'matchcore/images/close.svg' %}">
			</button>
		</div>
		<div class="col text-center"><h1>Evaluate participation</h1></div>
	</div>
	<form method="POST" enctype="multipart/form-data" action="submit">
		{{ formset.management_form }}
		{% csrf_token %}
		{% for form in formset %}
			<div class="row justify-content-center">
				<div class="col-4 text-center mr-5">
					<div class="user-picture-container embed-responsive embed-responsive-1by1 mb-2">
						{% for p in participations %}
							{% if p.person.user.username == form.name.value %}
								<img class="user-picture embed-responsive-item" src="{{p.person.img.url}}">
							{% endif %}
						{% endfor %}
					</div>
				</div>
				<div class="col-3 d-flex flex-column justify-content-center">
					<span class="register-input-label d-block mb-2">Score (1-5)</span>
					{{form.name}}
					{{form.contribution}}
				</div>
			</div>
			<div class="row justify-content-center mb-5">
				<div class="col-4 text-center mr-5">
					<h5 class="participant-name">{{form.name.value}}</h5>
				</div>
				<div class="col-3"></div>
			</div>
		{% endfor %}
		<div class="row text-center justify-content-center mt-3 mb-4">
			<div class="col">
				<button type="submit" class="save-button btn btn-primary mb-2"><img src="{% static 'matchcore/images/accept_white.svg' %}"></button>
				<span class="save-button-text d-block">Submit</span>
			</div>
		</div>
	</form>
</div>

{% endblock %}
