{% extends "matchcore/layout_empty.html" %}
{% load static %}

{% block main %}

<form action="/find">
<div class="container filter-list-page">
	<div class="h-100 d-flex flex-column justify-content-center">
		<div class="row justify-content-center mb-5">
			<h3>Filter settings</h3>
		</div>
		<div class="row">
			<div class="col mx-1">
				<div class="text-center d-flex flex-column align-items-center mb-3">
					<div class="tag-circle mb-2"><img src="{% static 'matchcore/images/projects/tag-complexity.svg' %}"></div>
					<span class="tag-name d-block">Complexity</span>
				</div>
				<!-- List -->
				<div class="tag-list scrollable">
					{% for t in complexity_tags %}
					<div class="tag-list-item">
						<input type="checkbox" id={{t.name}} name={{t.name}}>
						<label>{{t.name}}</label>
					</div>
					{% endfor %}
				</div>
			</div>
			<div class="col mx-1">
				<div class="text-center d-flex flex-column align-items-center mb-3">
					<div class="tag-circle mb-2"><img src="{% static 'matchcore/images/projects/tag-theme.svg' %}"></div>
					<span class="tag-name d-block">Theme</span>
				</div>
				<!-- List -->
				<div class="tag-list scrollable">
					{% for t in theme_tags %}
					<div class="tag-list-item">
						<input type="checkbox" id={{t.name}} name={{t.name}}>
						<label>{{t.name}}</label>
					</div>
					{% endfor %}
				</div>
			</div>
			<div class="col mx-1">
				<div class="text-center d-flex flex-column align-items-center mb-3">
					<div class="tag-circle mb-2"><img src="{% static 'matchcore/images/projects/tag-technology.svg' %}"></div>
					<span class="tag-name d-block">Technology</span>
				</div>
				<!-- List -->
				<div class="tag-list scrollable">
					{% for t in technology_tags %}
					<div class="tag-list-item">
						<input type="checkbox" id={{t.name}} name={{t.name}}>
						<label>{{t.name}}</label>
					</div>
					{% endfor %}
				</div>
			</div>
			<div class="col mx-1">
				<div class="text-center d-flex flex-column align-items-center mb-3">
					<div class="tag-circle mb-2"><img src="{% static 'matchcore/images/projects/tag-language.svg' %}"></div>
					<span class="tag-name d-block">Language</span>
				</div>
				<!-- List -->
				<div class="tag-list scrollable">
					{% for t in language_tags %}
					<div class="tag-list-item">
						<input type="checkbox" id={{t.name}} name={{t.name}}>
						<label>{{t.name}}</label>
					</div>
					{% endfor %}
				</div>
			</div>
		</div>
		<div class="row text-center justify-content-center mt-5">
			<div class="col">
				<button class="save-button btn btn-primary mb-2"><img src="{% static 'matchcore/images/save.svg' %}"></button>
				<span class="save-button-text d-block">Save</span>
			</div>
		</div>
	</div>
</div>

</form>
{% endblock %}
