{% extends "matchcore/layout_empty.html" %}
{% load static %}

{% block main %}

<div class="container filter-list-page">
	<div class="h-100 d-flex flex-column justify-content-center">
		<div class="row justify-content-center mb-5">
			<h3>Filter settings</h3>
		</div>
		<div class="row">
			<div class="col mx-1">
				<div class="text-center mb-3">
					<button class="tag-button btn btn-primary mb-2" data-toggle="modal" data-target="#complexityModal"><img src="{% static 'matchcore/images/filtertags/complexity.svg' %}"></button>
					<span class="tag-name d-block">Complexity</span>
				</div>
				<!-- List -->
				<div class="tag-list scrollable">
					<div class="tag-list-item">Easy</div>
					<div class="tag-list-item">Moderate</div>
				</div>
			</div>
			<div class="col mx-1">
				<div class="text-center mb-3">
					<button class="tag-button btn btn-primary mb-2"  data-toggle="modal" data-target="#themeModal"><img src="{% static 'matchcore/images/filtertags/theme.svg' %}"></button>
					<span class="tag-name d-block">Theme</span>
				</div>
				<!-- List -->
				<div class="tag-list scrollable">
					<div class="tag-list-item">Games</div>
					<div class="tag-list-item">Web Design</div>
					<div class="tag-list-item">UX/UI</div>
					<div class="tag-list-item">Games</div>
					<div class="tag-list-item">Web Design</div>
					<div class="tag-list-item">UX/UI</div>
					<div class="tag-list-item">Games</div>
					<div class="tag-list-item">Web Design</div>
					<div class="tag-list-item">UX/UI</div>
				</div>
			</div>
			<div class="col mx-1">
				<div class="text-center mb-3">
					<button class="tag-button btn btn-primary mb-2" data-toggle="modal" data-target="#technologyModal"><img src="{% static 'matchcore/images/filtertags/technology.svg' %}"></button>
					<span class="tag-name d-block">Technology</span>
				</div>
				<!-- List -->
				<div class="tag-list scrollable">
					<div class="tag-list-item">C/C++</div>
					<div class="tag-list-item">Flutter</div>
					<div class="tag-list-item">Java</div>
					<div class="tag-list-item">Python</div>
					<div class="tag-list-item">C/C++</div>
					<div class="tag-list-item">Flutter</div>
					<div class="tag-list-item">Java</div>
					<div class="tag-list-item">Python</div>
					<div class="tag-list-item">C/C++</div>
					<div class="tag-list-item">Flutter</div>
					<div class="tag-list-item">Java</div>
					<div class="tag-list-item">Python</div>
				</div>
			</div>
			<div class="col mx-1">
				<div class="text-center mb-3">
					<button class="tag-button btn btn-primary mb-2" data-toggle="modal" data-target="#languageModal"><img src="{% static 'matchcore/images/filtertags/language.svg' %}"></button>
					<span class="tag-name d-block">Language</span>
				</div>
				<!-- List -->
				<div class="tag-list scrollable">
					<div class="tag-list-item">English</div>
					<div class="tag-list-item">Portuguese</div>
					<div class="tag-list-item">Chinese</div>
					<div class="tag-list-item">Japanese</div>
					<div class="tag-list-item">Korean</div>
					<div class="tag-list-item">German</div>
					<div class="tag-list-item">French</div>
					<div class="tag-list-item">English</div>
					<div class="tag-list-item">Portuguese</div>
					<div class="tag-list-item">Chinese</div>
					<div class="tag-list-item">Japanese</div>
					<div class="tag-list-item">Korean</div>
					<div class="tag-list-item">German</div>
					<div class="tag-list-item">French</div>
				</div>
			</div>
		</div>
		<div class="row text-center justify-content-center mt-5">
			<div class="col">
				<button class="save-button btn btn-primary mb-2"><img src="{% static 'matchcore/images/save.svg' %}"></button>
				<span class="save-button-text d-block">Save</span>
			</div>
		</div>
	</div>
</div>

<div class="modal fade" id="complexityModal" tabindex="-1" aria-hidden="true">
	<div class="modal-dialog modal-dialog-centered">
		<div class="modal-content">
		  <div class="modal-header">
		      <button class="close-button-sm btn btn-primary" data-dismiss="modal">
					<img src="{% static 'matchcore/images/close.svg' %}">
				</button>
	      </div>
		  <div class="modal-body text-center">
		  	<!-- Form -->
		  	<h5 class="filter-modal-label">Complexity</h5>
		  	<div class="form-group mb-0">
			    Here be a form
			</div>
			<!--  -->
		  </div>
		</div>
	</div>
</div>

<div class="modal fade" id="themeModal" tabindex="-1" aria-hidden="true">
	<div class="modal-dialog modal-dialog-centered">
		<div class="modal-content">
		  <div class="modal-header">
		      <button class="close-button-sm btn btn-primary" data-dismiss="modal">
					<img src="{% static 'matchcore/images/close.svg' %}">
				</button>
	      </div>
		  <div class="modal-body text-center">
		  	<!-- Form -->
		  	<h5 class="filter-modal-label">Theme</h5>
		  	<div class="form-group mb-0">
			    Here be a form
			</div>
			<!--  -->
		  </div>
		</div>
	</div>
</div>

<div class="modal fade" id="technologyModal" tabindex="-1" aria-hidden="true">
	<div class="modal-dialog modal-dialog-centered">
		<div class="modal-content">
		  <div class="modal-header">
		      <button class="close-button-sm btn btn-primary" data-dismiss="modal">
					<img src="{% static 'matchcore/images/close.svg' %}">
				</button>
	      </div>
		  <div class="modal-body text-center">
		  	<!-- Form -->
		  	<h5 class="filter-modal-label">Technology</h5>
		  	<div class="form-group mb-0">
			    Here be a form
			</div>
			<!--  -->
		  </div>
		</div>
	</div>
</div>

<div class="modal fade" id="languageModal" tabindex="-1" aria-hidden="true">
	<div class="modal-dialog modal-dialog-centered">
		<div class="modal-content">
		  <div class="modal-header">
		      <button class="close-button-sm btn btn-primary" data-dismiss="modal">
					<img src="{% static 'matchcore/images/close.svg' %}">
				</button>
	      </div>
		  <div class="modal-body text-center">
		  	<!-- Form -->
		  	<h5 class="filter-modal-label">Language</h5>
		  	<div class="form-group mb-0">
			    Here be a form
			</div>
			<!--  -->
		  </div>
		</div>
	</div>
</div>

{% endblock %}

<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form action="/find">
    {% for t in tags %}
    <label for={{t.name}}>{{t.name}}:</label><br>
    <input type="checkbox" id={{t.name}} name={{t.name}}><br>
    {% endfor %}
    <input type="submit" value="Submit">
</form>
</body>
</html> -->