{% extends "matchcore/layout_nav.html" %}
{% load static %}

{% block main %}

<div class="container">
	<div class="row mt-4">
		<div class="col text-right">
			<a href="{% url 'filter_page' %}" class="filter-button btn btn-primary mr-2">
				<img src="{% static 'matchcore/images/settings.svg' %}">
			</a>
			<a href="{% url 'filter_page' %}" class="align-middle filter-button-text">Filter settings</a>
		</div>
	</div>
	<div class="row project-list">
		{% for p in projects %}
			<div class="col-6 project-item" onclick="location.href='{% url 'request_page' p.id %}'">
				<div class="row">
					<div class="col-7 text-center">
						<img class="project-picture img-fluid" src="{{p.img.url}}">
						<div class="mt-4 px-2">
							<span class="project-title mb-1">{{p.title}}</span>
							<p class="project-short-desc">{{p.small_description}}</p>
						</div>
					</div>
					<div class="col project-tags">
						<div class="tags-item">
							<div class="tags-circle"><img src="{% static 'matchcore/images/projects/tag-complexity.svg' %}"></div>
							<div class="tags-desc">
								<span class="tags-name">Complexity</span>
								{% for t in p.tags.all %}
									{% if t.archetype == 'C' %}
										{{t.name}}
									{% endif %}
								{% endfor %}
							</div>
						</div>
						<div class="tags-item">
							<div class="tags-circle"><img src="{% static 'matchcore/images/projects/tag-theme.svg' %}"></div>
							<div class="tags-desc">
								<span class="tags-name">Theme</span>
								{% for t in p.tags.all %}
									{% if t.archetype == 'T' %}
										{{t.name}}
									{% endif %}
								{% endfor %}
							</div>
						</div>
						<div class="tags-item">
							<div class="tags-circle"><img src="{% static 'matchcore/images/projects/tag-technology.svg' %}"></div>
							<div class="tags-desc">
								<span class="tags-name">Technology</span>
								{% for t in p.tags.all %}
									{% if t.archetype == 'D' %}
										{{t.name}}
									{% endif %}
								{% endfor %}
							</div>
						</div>
						<div class="tags-item">
							<div class="tags-circle"><img src="{% static 'matchcore/images/projects/tag-language.svg' %}"></div>
							<div class="tags-desc">
								<span class="tags-name">Language</span>
								{% for t in p.tags.all %}
									{% if t.archetype == 'L' %}
										{{t.name}}
									{% endif %}
								{% endfor %}
							</div>
						</div>
					</div>
				</div>
			</div>
		{% endfor %}
	</div>
</div>
{% endblock %}
