{% extends "matchcore/layout_nav.html" %}
{% load static %}

{% block main %}

<div class="container">
	<div class="row mt-4">
		<div class="col text-right">
			<!-- <a href="#">
				<div> -->
					<button class="filter-button btn btn-primary mr-2">
						<img src="{% static 'matchcore/images/settings.svg' %}">
					</button>
					<span class="align-middle filter-button-text">Filter settings</span>
				<!-- </div>
			</a> -->
		</div>
	</div>
	<div class="row project-list">
		{% for p in projects %}
			<div class="col-6 project-item">
				<div class="row">
					<div class="col-7 text-center">
						<img class="project-picture img-fluid" src="{% static 'matchcore/images/projects/placeholder.svg' %}">
						<div class="mt-4 px-2">
							<span class="project-title mb-1">{{p.title}}</span>
							<p class="project-short-desc">{{p.small_description}}</p>
						</div>
					</div>
					<div class="col project-tags">
						<div class="tags-item">
							<div class="tags-circle"><img src="{% static 'matchcore/images/projects/tag-complexity.svg' %}"></div>
							<div class="tags-desc"><span class="tags-name">Complexity</span>Placeholder</div>
						</div>
						<div class="tags-item">
							<div class="tags-circle"><img src="{% static 'matchcore/images/projects/tag-theme.svg' %}"></div>
							<div class="tags-desc"><span class="tags-name">Theme</span>Placeholder</div>
						</div>
						<div class="tags-item">
							<div class="tags-circle"><img src="{% static 'matchcore/images/projects/tag-role.svg' %}"></div>
							<div class="tags-desc"><span class="tags-name">Role</span>Placeholder</div>
						</div>
						<div class="tags-item">
							<div class="tags-circle"><img src="{% static 'matchcore/images/projects/tag-technology.svg' %}"></div>
							<div class="tags-desc"><span class="tags-name">Technology</span>Placeholder</div>
						</div>
						<div class="tags-item">
							<div class="tags-circle"><img src="{% static 'matchcore/images/projects/tag-language.svg' %}"></div>
							<div class="tags-desc"><span class="tags-name">Language</span>Placeholder</div>
						</div>
					</div>
				</div>
			</div>
		{% endfor %}
	</div>
</div>
{% endblock %}
