{% load static %}

<!DOCTYPE html>
<html lang="en">
  	<head>
	    <title>Matchbox</title>
	    <meta charset="utf-8">
	    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	    <link rel="stylesheet" href="{% static 'matchcore/css/style.css' %}">
	</head>
	<body>
		<!-- Content -->
		{% block main %}
		{% endblock %}
		{% block scripts %}
	        <script src="{% static 'matchcore/js/libs/jquery-3.5.1.js' %}"></script>
	        <script src="{% static 'matchcore/js/libs/bootstrap.bundle.js' %}"></script>
        {% endblock %}
	</body>
</html>