{% extends "matchcore/layout_nav.html" %}
{% load static %}

{% block main %}

{% if unread_notifications|length == 0 and read_notifications|length == 0 %}
<div class="container">
	<div class="row">
		<div class="col mt-5">
			<h1 class="mt-5 mb-4">Unread messages</h1>
			<span class="px-1">No messages to show.</span>
		</div>
	</div>
</div>
{% endif %}


<div class="container">
	{% if unread_notifications|length != 0 %}
		<h1 class="mt-5">Unread messages</h1>
		<div class="message-list">
			<!-- Message -->
			{% for n in unread_notifications %}
				<div class="row unread-message">
					{% if n.type == 'RS' %}
						<div class="col-8">
							<strong>{{n.sender.user.username}}</strong> {%if n.accepted%}accepted {%else%}rejected {%endif%} your request to join the project <strong>{{n.project.title}}</strong>
						</div>
						<div class="col message-buttons">
							<a href="{% url 'project_page' n.project.id %}" class="message-button btn btn-text"><img class="prj" src="{% static 'matchcore/images/project.svg' %}"></a>
							<div class="message-button-desc"><a href="{% url 'project_page' n.project.id %}">Check project</a></div>
						</div>
					{% else %}
						<div class="col-8">
							<strong>{{n.sender.user.username}}</strong> wants to join your project <strong>{{n.project.title}}</strong>
						</div>
						<div class="col message-buttons">
							<a href="{% url 'user_page' n.sender.user.username %}" class="message-button btn btn-text"><img class="prf" src="{% static 'matchcore/images/profile.svg' %}"></a>
							<form action="/accept_request" method="post">
								{% csrf_token %}
								<button class="message-button btn btn-text" name="notification_id" value="{{n.id}}"><img class="accrj" src="{% static 'matchcore/images/accept.svg' %}"></button>
							</form>
							<form action="/reject_request" method="post">
								{% csrf_token %}
								<button class="message-button btn btn-text" name="notification_id" value="{{n.id}}"><img class="accrj" src="{% static 'matchcore/images/reject.svg' %}"></button>
							</form>
						</div>
					{% endif %}
				</div>
			{% endfor %}
		</div>
	{% endif %}

	{% if read_notifications|length != 0 %}
		<h1 class="mt-5">Read messages</h1>
		<div class="message-list">
			<!-- Message -->
			{% for n in read_notifications %}
			<div class="row read-message">
				{% if n.type == 'RS' %}
					<div class="col-8">
						<strong>{{n.sender.user.username}}</strong> {%if n.accepted%}accepted {%else%}rejected {%endif%} your request to join the project <strong>{{n.project.title}}</strong>
					</div>
					<div class="col message-buttons">
						<a href="{% url 'project_page' n.project.id %}" class="message-button btn btn-primary"><img class="prj" src="{% static 'matchcore/images/project_white.svg' %}"></a>
						<div class="message-button-desc"><a href="{% url 'project_page' n.project.id %}">Check project</a></div>
					</div>
				{% else %}
					{% if n.interacted %}
						<div class="col-8">
							You <strong>{%if n.accepted%}accepted {%else%}rejected {%endif%}</strong> the request of <strong>{{n.sender.user.username}}</strong> to join your project <strong>{{n.project.title}}</strong>
						</div>
						<div class="col message-buttons">
							<a href="{% url 'user_page' n.sender.user.username %}" class="message-button btn btn-primary"><img class="prf" src="{% static 'matchcore/images/profile_white.svg' %}"></a>
							<div class="message-button-desc"><a href="{% url 'user_page' n.sender.user.username %}">Check profile</a></div>
						</div>
					{% else %}
						<div class="col-8">
								<strong>{{n.sender.user.username}}</strong> wants to join your project <strong>{{n.project.title}}</strong>
							</div>
							<div class="col message-buttons">
								<a href="{% url 'user_page' n.sender.user.username %}" class="message-button btn btn-primary"><img class="prf" src="{% static 'matchcore/images/profile_white.svg' %}"></a>
								<form action="/accept_request" method="post">
									{% csrf_token %}
									<button class="message-button btn btn-primary" name="notification_id" value="{{n.id}}"><img class="accrj" src="{% static 'matchcore/images/accept_white.svg' %}"></button>
								</form>
								<form action="/reject_request" method="post">
									{% csrf_token %}
									<button class="message-button btn btn-primary" name="notification_id" value="{{n.id}}"><img class="accrj" src="{% static 'matchcore/images/reject_white.svg' %}"></button>
								</form>
							</div>
					{% endif %}
				{% endif %}
			</div>
			{% endfor %}
		</div>
	{% endif %}
</div>

{% endblock %}