{% extends "matchcore/layout_empty.html" %}
{% load static %}

{% block main %}

<div class="container project-view">
	<div class="h-100 d-flex flex-column justify-content-center">
		<div class="row mb-3">
			<div class="col px-0">
				<h1>{{current_project.title}}</h1>
			</div>
			<div class="col text-right px-0">
				<button class="close-button btn btn-primary" onClick="javascript:window.location=document.referrer;">
					<img src="{% static 'matchcore/images/close.svg' %}">
				</button>
			</div>
		</div>
		<div class="row">
			<div class="col-4 mr-4 embed-responsive embed-responsive-1by1">
				<img class="project-picture embed-responsive-item" src="{{current_project.img.url}}">
			</div>
			<div class="col project-info ml-4">
				<div class="row"><h2>Description</h2></div>
				<div class="row project-long-desc pr-3 mb-5 scrollable">
					<p>{{current_project.big_description}}</p>
				</div>
				<div class="row project-tags">
					<div class="tags-item">
						<div class="tags-circle"><img src="{% static 'matchcore/images/projects/tag-complexity.svg' %}"></div>
						<div class="tags-desc">
							<span class="tags-name">Complexity</span>
							{% for t in current_project.tags.all %}
								{% if t.archetype == 'C' %}
									{{t.name}}
								{% endif %}
							{% endfor %}
						</div>
					</div>
					<div class="tags-item">
						<div class="tags-circle"><img src="{% static 'matchcore/images/projects/tag-theme.svg' %}"></div>
						<div class="tags-desc">
							<span class="tags-name">Theme</span>
							{% for t in current_project.tags.all %}
								{% if t.archetype == 'T' %}
									{{t.name}}
								{% endif %}
							{% endfor %}
						</div>
					</div>
					<div class="tags-item">
						<div class="tags-circle"><img src="{% static 'matchcore/images/projects/tag-technology.svg' %}"></div>
						<div class="tags-desc">
							<span class="tags-name">Technology</span>
							{% for t in current_project.tags.all %}
								{% if t.archetype == 'D' %}
									{{t.name}}
								{% endif %}
							{% endfor %}
						</div>
					</div>
					<div class="tags-item">
						<div class="tags-circle"><img src="{% static 'matchcore/images/projects/tag-language.svg' %}"></div>
						<div class="tags-desc">
							<span class="tags-name">Language</span>
							{% for t in current_project.tags.all %}
								{% if t.archetype == 'L' %}
									{{t.name}}
								{% endif %}
							{% endfor %}
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="row project-score">
			{% if is_owner %}
				{% if current_project.state == 'O' %}
					<div class="score-item">
						<a href="{% url 'finish_project' current_project.id %}" class="join-button btn btn-primary mb-2"><img src="{% static 'matchcore/images/accept_white.svg' %}"></a>
						<span class="join-button-text d-block">Archive</span>
					</div>
				{% endif %}
			{% else %}
				<div class="score-item">
					<div class="score-circle">
						{%if current_project.state == 'O'%} N/A
						{% else %} {{my_score}}
						{% endif %}
					</div>
					<div class="score-desc">Your contribution</div>
				</div>
			{% endif %}
		</div>
	</div>
</div>

{% endblock %}