.create-input, .register-input {
	border: none !important;
    color: theme-color("inputs");
}
.create-input:focus, .register-input:focus {
    outline: none !important;
    box-shadow: none !important;
    border: none !important;
    color: theme-color("inputs");
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type=number] {
  -moz-appearance: textfield;
}