.form-control {
	border: none !important;
    color: theme-color("inputs");
}
.form-control:focus {
    outline: none !important;
    box-shadow: none !important;
    border: none !important;
    color: theme-color("inputs");
}