@import url(http://fonts.googleapis.com/css?family=Lato:900,700,400,300,100);
@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@200;300;400;500;600;700;800;900');

body {
	font-family: 'Lato', sans-serif;
	color: theme-color("text");
}

h1 {
	color: theme-color("primary");
	font-size: 41px;
	letter-spacing: 0.5px;
	font-weight: bold;
	text-transform: uppercase;
}

h2 {
	color: theme-color("text");
	font-size: 27px;
	font-weight: bold;
	line-height: 40px;
	letter-spacing: 0.1px;
}

h3 {
	color: theme-color("primary");
	font-size: 29px;	// yes its larger than h2
	font-weight: bold;
	line-height: 32px;
	letter-spacing: 0.2px;
	text-transform: uppercase;
}

.scrollable {
	scrollbar-width: thin;
	scrollbar-color: theme-color("primary") theme-color("bglight");
}
.scrollable::-webkit-scrollbar {
  width: 7px;
}
.scrollable::-webkit-scrollbar-track {
  background-color: theme-color("bglight");
  border-radius: 20px;
}
.scrollable::-webkit-scrollbar-thumb {
  background-color: theme-color("primary");
  border-radius: 20px;
}

.close-button {
	position: relative;
	width: 40px;
	height: 40px;
    border-radius: 50%;

    img {
    	height: 22px;
    	@include center-in-btn;
    }
}

.close-button-sm {
	position: relative;
	width: 28px;
	height: 28px;
    border-radius: 50%;

    img {
    	height: 14px;
    	@include center-in-btn;
    }
}

/*------------------ Checkboxes ------------------*/

@supports(-webkit-appearance: none) or (-moz-appearance: none) {
  input[type='checkbox'],
  input[type='radio'] {
    --active: #D33F49;
    --active-inner: #fff;
    --focus: 2px #D33F49;
    --border: #C3CBCD;
    --border-hover: #D33F49;
    --background: #fff;
    --disabled: #F6F8FF;
    --disabled-inner: #E1E6F9;
    -webkit-appearance: none;
    -moz-appearance: none;
    height: 21px;
    outline: none;
    display: inline-block;
    vertical-align: top;
    position: relative;
    margin: 0;
    cursor: pointer;
    border: 1px solid var(--bc, var(--border));
    background: var(--b, var(--background));
    transition: background .2s, border-color .2s, box-shadow .2s;
    &:after {
      content: '';
      display: block;
      left: 0;
      top: 0;
      position: absolute;
      transition: transform var(--d-t, .3s) var(--d-t-e, ease), opacity var(--d-o, .2s);
    }
    &:checked {
      --b: var(--active);
      --bc: var(--active);
      --d-o: .3s;
      --d-t: .6s;
      --d-t-e: cubic-bezier(.2, .85, .32, 1.2);
    }
    &:disabled {
      --b: var(--disabled);
      cursor: not-allowed;
      opacity: .9;
      &:checked {
        --b: var(--disabled-inner);
        --bc: var(--border);
      }
      & + label {
        cursor: not-allowed;
      }
    }
    &:hover {
      &:not(:checked) {
        &:not(:disabled) {
          --bc: var(--border-hover);
        }
      }
    }
    &:focus {
      // box-shadow: 0 0 0 var(--focus);
    }
    &:not(.switch) {
      width: 21px;
      &:after {
        opacity: var(--o, 0);
      }
      &:checked {
        --o: 1;
      }
    }
    & + label {
      // font-size: 14px;
      line-height: 21px;
      display: inline-block;
      vertical-align: top;
      // cursor: pointer;
      margin-left: 4px;
    }
  }
  input[type='checkbox'] {
    &:not(.switch) {
      border-radius: 7px;
      &:after {
        width: 5px;
        height: 9px;
        border: 2px solid var(--active-inner);
        border-top: 0;
        border-left: 0;
        left: 7px;
        top: 4px;
        transform: rotate(var(--r, 20deg));
      }
      &:checked {
        --r: 43deg;
      }
    }
    &.switch {
      width: 38px;
      border-radius: 11px;
      &:after {
        left: 2px;
        top: 2px;
        border-radius: 50%;
        width: 15px;
        height: 15px;
        background: var(--ab, var(--border));
        transform: translateX(var(--x, 0));
      }
      &:checked {
        --ab: var(--active-inner);
        --x: 17px;
      }
      &:disabled {
        &:not(:checked) {
          &:after {
            opacity: .6;
          }
        }
      }
    }
  }
  input[type='radio'] {
    border-radius: 50%;
    &:after {
      width: 19px;
      height: 19px;
      border-radius: 50%;
      background: var(--active-inner);
      opacity: 0;
      transform: scale(var(--s, .7));
    }
    &:checked {
      --s: .5;
    }
  }
}

/*---------------------------------------------*/