@import url(http://fonts.googleapis.com/css?family=Lato:900,700,400,300,100);
@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@200;300;400;500;600;700;800;900');

body {
	font-family: 'Lato', sans-serif;
	color: theme-color("text");
}

h1 {
	color: theme-color("primary");
	font-size: 41px;
	letter-spacing: 0.5px;
	font-weight: bold;
	text-transform: uppercase;
}

h2 {
	color: theme-color("text");
	font-size: 27px;
	font-weight: bold;
	line-height: 40px;
	letter-spacing: 0.1px;
}

h3 {
	color: theme-color("primary");
	font-size: 29px;	// yes its larger than h2
	font-weight: bold;
	line-height: 32px;
	letter-spacing: 0.2px;
	text-transform: uppercase;
}

.scrollable {
	scrollbar-width: thin;
	scrollbar-color: theme-color("primary") theme-color("bglight");
}
.scrollable::-webkit-scrollbar {
  width: 7px;
}
.scrollable::-webkit-scrollbar-track {
  background-color: theme-color("bglight");
  border-radius: 20px;
}
.scrollable::-webkit-scrollbar-thumb {
  background-color: theme-color("primary");
  border-radius: 20px;
}