@import "bootstrap/functions";
@import "bootstrap/variables";
@import "bootstrap/mixins";

$hotpink: #D33F49;
$darkpurple: #221122;
$darkpurplelight: #413341;	// great names
$lighterrandomgray: #F2F2F2;
$darkerrandomgray: #E7E7E7;

$theme-colors: (
	"text": $white,
	"primary": $hotpink,
	"secondarylight": $lighterrandomgray,
	"secondarydark": $darkerrandomgray,
	"bg": $darkpurple,
	"bglight": $darkpurplelight
);

$body-bg: $darkpurple;

.btn:focus,.btn:active:focus,.btn.active:focus,
.btn.focus,.btn:active.focus,.btn.active.focus {
    outline: none !important;
    box-shadow: none !important;
}

$modal-content-bg: $darkpurple;

.modal-footer {
	border-top: none !important;
}

@import "bootstrap/bootstrap";