@media (min-width: 1200px) {
    .container.user-settings {
        max-width: 1000px;
    }
}

.user-settings {
	height: 100vh;

	.user-picture-container {
		width: 75%;
		margin-bottom: 5px;
		position:relative;
	    display:inline-block;
	    text-align:center;

		.user-picture {
			object-fit: cover;
  			object-position: center;
			border-radius: 50%;
		}
		.overlay {
			position:absolute;
		    left:0px;
		    top:0px;
		    width: 100%;
		    border-radius: 50%;

		    img {
		    	height: 33px;
		    }
		}
	}
	.save-button {
		position: relative;
		width: 90px;
		height: 90px;
	    border-radius: 50%;

	    img {
	    	height: 45px;
	    	@include center-in-btn;
	    }
	}
	.save-button-text {
		text-transform: uppercase;
		font-weight: 300;
		font-size: 19px;
	}
}